

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f2f2f2;
}


header {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: bold;
    color: #ffffff;  
    font-size: 36px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}

nav a:hover {
    color: #ccc;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 2em;
    background-color: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    background-color: #ffffff;
    padding: 1em;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: bold;
    color: #333;  
    font-size: 24px;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Footer Styles */

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 10px;
}

/* Utility Styles */

.rubik-vinyl-regular {
    font-family: "Rubik Vinyl", serif;
    font-weight: 400;
    font-style: normal;
}